---
title: Confronto dei risultati dei test di carico in Visual Studio | Microsoft Docs
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: douge
ms.technology: vs-ide-test
ms.openlocfilehash: fe8eefff69532aa843f619518c59067b31619e8f
ms.sourcegitcommit: 6a9d5bd75e50947659fd6c837111a6a547884e2a
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 04/16/2018
---
# <a name="reporting-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Creazione di rapporti sui risultati dei test di carico per confronti tra test o analisi delle tendenze

È possibile generare report del test di carico di Microsoft Excel basati su due o più risultati del test. Sono disponibili due tipi di report del test di carico:

- Esegui confronto: questo report è in realtà costituito da due report in cui sono visualizzati dati di confronto affiancati tramite l'uso di tabelle e grafici a barre.

- Tendenza: è possibile generare analisi delle tendenze in due o più report. I risultati vengono visualizzati utilizzando grafici a linee.

Ciascun report può essere usato per condividere dati relativi alle prestazioni con gli stakeholder e mostrare se le prestazioni complessive e l'integrità del sistema stanno migliorando o peggiorando.

Le definizioni del report vengono archiviate nel database del test di carico. Quando viene salvato un report, la definizione per il report viene salvata nel database e può essere usata nuovamente in un secondo momento.

Inoltre, il file del foglio di calcolo può essere condiviso con gli stakeholder in modo che questi non debbano connettersi al database per vedere il rapporto.

> [!NOTE]
> Se si aggiungono commenti a un test di carico, verranno visualizzati nel report di Excel. Per altre informazioni, vedere [Procedura: Aggiungere commenti mentre si analizza un test di carico completato](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Attività

|Attività|Argomenti correlati|
|-----------|-----------------------|
|**Creare un report di prestazioni e sovraccarico:** è possibile creare report relativi ai test di carico e delle prestazioni Web usando Microsoft Excel.|- [Procedura: Creare report di prestazioni dei test di carico usando Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Creare manualmente un report di prestazioni e sovraccarico usando Microsoft Word:** è possibile creare manualmente report relativi ai test di carico e delle prestazioni Web copiando e incollando dati di riepilogo, tabelle e grafici in un documento Microsoft Word.|- [Procedura: Creare manualmente un report di prestazioni di un test di carico usando Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Vedere anche

- [Analizzare i risultati dei test di carico](../test/analyze-load-test-results-using-the-load-test-analyzer.md)