---
title: 'Procedura: Creare grafici personalizzati nei risultati dei test di carico in Visual Studio | Microsoft Docs'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: douge
ms.technology: vs-ide-test
ms.openlocfilehash: 38249ef2a655f2dc30ad5536f1d47f94cff54181
ms.sourcegitcommit: 6a9d5bd75e50947659fd6c837111a6a547884e2a
ms.translationtype: HT
ms.contentlocale: it-IT
ms.lasthandoff: 04/16/2018
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Procedura: creare grafici personalizzati nei risultati del test di carico

È possibile progettare grafici che visualizzano specifiche informazioni sui risultati dei test di carico. Per progettare un grafico personalizzato, specificare i contatori del test di carico che verranno visualizzati sul grafico.

 È possibile eseguire la procedura descritta di seguito durante l'esecuzione di un test di carico o al termine dell'esecuzione.

## <a name="to-create-a-custom-load-test-results-graph"></a>Per creare un grafico personalizzato dei risultati del test di carico

1.  Fare clic su **Aggiungi nuovo grafico** sulla barra degli strumenti del test di carico.

     \- oppure -

     Nell'analizzatore test di carico fare clic con il pulsante destro del mouse nel riquadro Contatori o in un grafico, quindi selezionare **Aggiungi grafico**.

     Viene visualizzata la finestra di dialogo **Nome grafico**.

2.  In **Nome grafico** digitare un nome per il grafico e scegliere **OK**.

     Il nuovo grafico verrà visualizzato nell'analizzatore test di carico. nel pannello del grafico attualmente selezionato, sostituendo il grafico presente precedentemente nel pannello.

3.  Personalizzare il nuovo grafico aggiungendo i contatori. Per altre informazioni, vedere [Procedura: Aggiungere ed eliminare contatori nei grafici](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Vedere anche

- [Analizzare i risultati dei test di carico nella visualizzazione Grafici](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Procedura: Aggiungere ed eliminare contatori nei grafici](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)